---
import HeadingImage from "@assets/project-assets/level-up/level-up-banner.png";
import Banner from "@components/project/level-up/Banner.astro";
import ColorPalette from "@components/project/level-up/ColorPalette.astro";
import EnvironmentDesign from "@components/project/level-up/EnvironmentDesign.astro";
import MascotPose from "@components/project/level-up/MascotPose.astro";
import Poster from "@components/project/level-up/Poster.astro";
import Heading from "@components/project/shared/Heading.astro";
import Layout from "@layouts/Layout.astro";

const headingText =
  "Level Up is a Arcade theme campaign project for matriculation at Ciputra University VCD (Visual Communication Design) for students. I contribute as a graphic designer, creating poster, illustration and social media content.";
---

<Layout>
  <div class="flex h-full w-full justify-center">
    <div class="flex w-full max-w-7xl flex-col gap-4">
      <Heading headingText={headingText} headingImage={HeadingImage} />
      <Banner />
      <MascotPose />
      <ColorPalette />
      <EnvironmentDesign />
      <Poster />
    </div>
  </div>
</Layout>
