---
import ColorSwatch from "@components/project/shared/ColorSwatch.astro";
import TitleHorizontalLine from "@components/project/shared/TitleHorizontalLine.astro";

const colors = [
  "#3A4A9E",
  "#8A3C96",
  "#EC3783",
  "#F06060",
  "#F7A75B",
  "#FCE17B",
];
---

<section
  id="color-palette"
  class="flex w-full flex-col items-center justify-center gap-16"
>
  <TitleHorizontalLine title="COLOR PALETTE" />
  <ColorSwatch colors={colors} />
  <p class="font-display text-primary w-5/6 text-center text-2xl">
    The colors used are bright colors used to emphasize feelings of love that
    remain alive even though they are separated
  </p>
</section>
