---
import TitleHorizontalLine from "@components/project/shared/TitleHorizontalLine.astro";
---

<section
  id="font"
  class="flex w-full flex-col items-center justify-center gap-16"
>
  <TitleHorizontalLine title="FONT" />
  <div class="flex w-5/6 flex-col items-center justify-center gap-8">
    <h3 class="font-isyana-heading text-center text-9xl">Tetap Dalam Hati</h3>
    <h4 class="font-isyana-subheading text-center text-6xl">
      ISYANA SARASVATI
    </h4>
    <p class="font-display text-primary text-center text-2xl">
      The font "Pinyon Script" features elegant, flowing strokes that symbolize
      loyalty and enduring love. Its unbroken lines represent a bond that
      remains strong, connecting a couple emotionally and spiritually despite
      separation.
    </p>
  </div>
</section>
