---
import PsychVisionResult from "@assets/project-assets/psych-vision/psychvision-result.png";
import TitleHorizontalLine from "@components/project/shared/TitleHorizontalLine.astro";
import { Image } from "astro:assets";
---

<section
  id="final-result"
  class="flex w-full flex-col items-center justify-center gap-16"
>
  <TitleHorizontalLine title="FINAL RESULT" />
  <div class="flex grow items-center justify-center">
    <Image
      src={PsychVisionResult}
      alt="Psych Vision Result"
      width={PsychVisionResult.width / 3}
      class="grow"
    />
  </div>
</section>
