---
import { Image } from "astro:assets";
import TitleHorizontalLine from "../shared/TitleHorizontalLine.astro";

import MerchImage from "@assets/project-assets/psych-vision/psychvision-merch.png";
---

<section
  id="merch-list"
  class="flex w-full flex-col items-center justify-center gap-16"
>
  <TitleHorizontalLine title="UC PSYCHOLOGY MERCHANDISE" />
  <div class="flex w-full flex-col items-center justify-center gap-1">
    <Image
      src={MerchImage}
      alt="Merch Mockup"
      width={MerchImage.width / 3}
      class="grow"
    />
  </div>
</section>
