---
import bannerImage from "@assets/project-assets/quote-typography/quote-typography-banner.png"
import { Image } from "astro:assets"
---

<section id="banner" class="flex flex-col items-center justify-center w-full gap-16">
  <Image src={bannerImage} alt="" width={bannerImage.width/2} />
  <p class="font-bold text-2xl font-display text-center w-full">"LIFE IS A SOUP AND I'M FORK" is a quote with sense of humor, but also have truthful meaning about life.</p>
</section>

