---
import bannerImage from "@assets/project-assets/quote-typography/quote-typography-banner.png";
import { Image } from "astro:assets";
---

<section
  id="banner"
  class="flex w-full flex-col items-center justify-center gap-16"
>
  <Image src={bannerImage} alt="" width={bannerImage.width / 2} />
  <p class="font-display w-full text-center text-2xl font-bold">
    "LIFE IS A SOUP AND I'M FORK" is a quote with sense of humor, but also have
    truthful meaning about life.
  </p>
</section>
