---
import ColorSwatch from "@components/project/shared/ColorSwatch.astro";
import TitleHorizontalLine from "@components/project/shared/TitleHorizontalLine.astro";

const colors = [
  "#A63223",
  "#D74728",
  "#E65F27",
  "#F1A020",
  "#09998E",
  "#83B77F",
  "#00445E",
  "#206549",
];
---

<section
  id="color-palette"
  class="flex w-full flex-col items-center justify-center gap-16"
>
  <TitleHorizontalLine title="COLOR PALETTE" />
  <ColorSwatch colors={colors} />
  <p class="font-display text-primary w-4/6 text-center text-xl">
    The choice of turquoise and orange represents a quote with deep meaning
    while also conveying a humorous side.
  </p>
</section>
