---
import ForkTextImage from "@assets/project-assets/quote-typography/fork-text.png";
import LifeTextImage from "@assets/project-assets/quote-typography/life-is-a-text.png";
import SoupTextImage from "@assets/project-assets/quote-typography/soup-text.png";
import TitleHorizontalLine from "@components/project/shared/TitleHorizontalLine.astro";
import { Image } from "astro:assets";
---

<section
  id="font"
  class="flex w-full flex-col items-center justify-center gap-16"
>
  <TitleHorizontalLine title="FONT" />
  <Image src={SoupTextImage} alt="Soup text" width={SoupTextImage.width / 2} />
  <p class="font-display text-primary w-5/6 text-center text-2xl">
    The word "SOUP" uses the Split Ink font by Walter Velez, which was modified
    to include water droplets and a watery effect. Additional details, such as
    lines and abstract shapes, were added to enhance its resemblance to soup.
  </p>
  <div class="flex w-full items-center justify-between gap-14">
    <Image
      src={LifeTextImage}
      alt="Life is a text"
      width={LifeTextImage.width / 3}
      class="grow"
    />
    <div class="border-primary h-full border-2"></div>
    <Image
      src={ForkTextImage}
      alt="And I am a text"
      width={ForkTextImage.width / 3}
      class="grow"
    />
  </div>
  <p class="font-display text-primary w-5/6 text-center text-2xl">
    The word The word "LIFE" and "FORK" uses the Berlin Sans, while "IS A" and
    "AND I'M A" uses FORQUE which was modified to include glossy and 3D effect.
    Under the word “FORK” there is a fork icon as an additional detail.
  </p>
</section>
