---
import Layout from "@layouts/Layout.astro";

import HeadingImage from "@assets/project-assets/quote-typography/quote-typography.png"

import Banner from "@components/project/quote-typography/Banner.astro";
import ColorPalette from "@components/project/quote-typography/ColorPalette.astro";
import Font from "@components/project/quote-typography/Font.astro";
import Heading from "@components/project/shared/Heading.astro";
import ShirtApplication from "@components/project/quote-typography/ShirtApplication.astro"

const headingText = "Quote typography is a project to create screen printed t-shirt of quotes with unique typographic designs according to the selected quote."
---
<Layout>
  <div class="flex w-full h-full justify-center">
    <div class="flex flex-col gap-4 max-w-7xl w-full">
      <Heading headingText={headingText} headingImage={HeadingImage} />
      <Banner />
      <Font />
      <ColorPalette />
      <ShirtApplication />
    </div>
  </div>
</Layout>
