<section id="navbar" class="flex justify-end gap-9 pt-28 pr-36">
  <a href="/about">
    <p class="font-navbar navbar-text-shadow text-4xl text-white">About</p>
  </a>
  <a href="/">
    <p class="font-navbar navbar-text-shadow text-4xl text-white">Home</p>
  </a>
  <a href="/project">
    <p class="font-navbar navbar-text-shadow text-4xl text-white">Projects</p>
  </a>
</section>
