<section
  id="design-theme"
  class="flex w-full flex-col items-center justify-center gap-8"
>
  <h2 class="font-display text-primary text-3xl font-bold">DESIGN THEME</h2>
  <div class="flex w-5/6 items-center justify-center gap-10">
    <div
      class="border-primary flex grow flex-col items-center justify-center gap-5 border-2 p-8"
    >
      <h3 class="font-display text-primary text-2xl font-bold">
        Balance (Sura & Baya)
      </h3>
      <p class="font-display text-primary text-center text-xl">
        The shark (Sura) and crocodile (Baya) symbolize the balance Ah Pek
        maintains in running his restaurant, finding happiness despite the
        exhaustion.
      </p>
    </div>
    <div
      class="border-primary flex grow flex-col items-center justify-center gap-5 border-2 p-8"
    >
      <h3 class="font-display text-primary text-2xl font-bold">
        Hardworking Spirit
      </h3>
      <p class="font-display text-primary text-center text-xl">
        Ah Pek is a versatile character who embodies hard work and harmony in
        running a kopitiam in Surabaya, reflecting the values of arek-arek
        Surabaya.
      </p>
    </div>
  </div>
</section>
