---
import LogoDesignImage from "@assets/project-assets/bintang-kecil-merdeka/logo-design.png";
import { Image } from "astro:assets";
---

<section
  id="logo-design"
  class="flex w-full flex-col items-center justify-center gap-8"
>
  <h2 class="font-display text-primary text-3xl font-bold">LOGO DESIGN</h2>
  <Image
    src={LogoDesignImage}
    alt="Bintang Kecil Merdeka Logo Design"
    width={LogoDesignImage.width / 3}
  />
  <p class="font-display text-primary w-2/3 text-center text-xl">
    The font used is called <span class="font-bold">Super Dream by</span>
    <span class="font-bold">All Super Font</span>. The font was then modified
    with 3D effect to make the logo look playful. The <span class="font-bold"
      >Brush</span
    > and <span class="font-bold">Fan</span> symbolize as the Kampung Bakat identity
    as place to train children's talents and interests.
  </p>
</section>
