---
import Bima from "@assets/project-assets/bintang-kecil-merdeka/bima.png";
import Kejora from "@assets/project-assets/bintang-kecil-merdeka/kejora.png";
import Tebi from "@assets/project-assets/bintang-kecil-merdeka/tebi.png";
import TitleHorizontalLine from "@components/project/shared/TitleHorizontalLine.astro";
import { Image } from "astro:assets";
---

<section
  id="main-mascot"
  class="flex w-full flex-col items-center justify-center gap-8"
>
  <TitleHorizontalLine title="MAIN MASCOT" />
  <div class="flex justify-center gap-20">
    <div class="relative">
      <Image src={Kejora} alt="Kejora" width={Kejora.width / 3} />
      <div class="absolute top-32 -left-28">
        <p class="font-display text-primary text-xl font-bold">Name: Kejora</p>
        <p class="font-display text-primary text-xl font-bold">Age: 9 y/o</p>
      </div>
    </div>
    <div class="relative">
      <Image src={Tebi} alt="Tebi" width={Tebi.width / 3} />
      <div class="absolute top-48 left-1/2">
        <p class="font-display text-primary text-xl font-bold">Tebi</p>
      </div>
    </div>
    <div class="relative">
      <Image src={Bima} alt="Bima" width={Bima.width / 3} />
      <div class="absolute top-32 -right-16">
        <p class="font-display text-primary text-xl font-bold">Name: Bima</p>
        <p class="font-display text-primary text-xl font-bold">Age: 11 y/o</p>
      </div>
    </div>
  </div>
  <p class="font-display text-primary w-5/6 text-center text-2xl">
    Kejora and Bima, children from Bakat Village, are training in dance and
    painting. They hope to make their village's training programs more
    well-known to attract more friends.
  </p>
</section>
