---
import PosterRolled from "@assets/project-assets/bintang-kecil-merdeka/poster-rolled.png";
import PosterWall from "@assets/project-assets/bintang-kecil-merdeka/poster-wall.png";
import TitleHorizontalLine from "@components/project/shared/TitleHorizontalLine.astro";
import { Image } from "astro:assets";
---

<section
  id="poster"
  class="flex w-full flex-col items-center justify-center gap-16"
>
  <TitleHorizontalLine title="POSTER" />
  <div class="flex w-full items-center justify-center gap-8">
    <Image
      src={PosterWall}
      alt="Poster on Wall"
      width={PosterWall.width / 3}
      class="grow"
    />
    <Image
      src={PosterRolled}
      alt="Rolled Poster"
      width={PosterRolled.width / 3}
      class="grow"
    />
  </div>
</section>
