---
const {colors} = Astro.props as {colors:string[]}
---

<div class="flex items-center justify-center w-full gap-6">
  {colors.map((color) => (
    <div class="h-32 w-32 border-2" style={`background-color: ${color}`} />
  ))}
</div>