---
import { Image } from "astro:assets";
import HorizontalLine from "./HorizontalLine.astro";

const { headingImage, headingText } = Astro.props as {
  headingImage: ImageMetadata;
  headingText: string;
};
---

<div class="mt-40">
  <HorizontalLine />
  <div class="flex w-full flex-row items-center justify-between">
    <Image
      src={headingImage}
      alt={headingText}
      width={headingImage.width / 3}
    />
    <p class="text-primary font-display w-2xl text-justify text-2xl">
      {headingText}
    </p>
  </div>
  <HorizontalLine />
</div>
