---
const { title } = Astro.props as { title:string }
---

<div class="flex items-center justify-baseline w-full gap-2 mt-20">
  <h2 class="font-bold font-display text-2xl text-nowrap">{title}</h2>
  <hr class="grow border-2 text-primary w-full my-6" />
</div>