---
const { title } = Astro.props as { title: string };
---

<div class="mt-20 flex w-full items-center justify-baseline gap-2">
  <h2 class="font-display text-2xl font-bold text-nowrap">{title}</h2>
  <hr class="text-primary my-6 w-full grow border-2" />
</div>
